<!DOCTYPE html>
<html lang="en">
<head>
  <title>IKNOW-Medical</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-left">
        <li>
          <a href="/iknowx" class="brand">IKNOW-Medical</a>
        </li>
      </ul>
      <ul class="nav">
        <li class="active">
          <a href="/iknowx">Literature Search</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
