<script id="search_results" type="text/html">
  {{#results}}
    <li>
      <h4><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}">{{title}}</a></h4>
      <ul class="authors clearfix">
        {{#authors}}
          <li>{{.}}</li>
        {{/authors}}
        {{^authors}}
          <li>No authors provided...</li>
        {{/authors}}
        {{#hasMoreAuthors}}
          <li class="showAuthors"><a href="#" class="showAuthors">&raquo;</a></li>
        {{/hasMoreAuthors}}
        {{#moreAuthors}}
          <li class="hidden moreAuthors">{{.}}</li>
        {{/moreAuthors}}
        {{#hasMoreAuthors}}
          <li class="hideAuthors hidden"><a href="#" class="hideAuthors">&laquo;</a></li>
        {{/hasMoreAuthors}}
      </ul>
  <p class="abstract"><a href="#" class="recommend" id="{{pmid}}">Recommend similar papers</a></p>
  <p class="abstract">
  {{#abstract}}
  {{{abstract}}}
  {{/abstract}}
  {{^abstract}}
  No abstract provided...
  {{/abstract}}
  </p>
  </li>
  {{/results}}
  {{^results}}
  <li>
  <p>No results found...</p>
  </li>
  {{/results}}
</script>
<script id="recommend_results" type="text/html">
  {{#results}}
  <li>
  <h6><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}">{{title}}</a></h6>
  <ul class="authors clearfix">
    {{#authors}}
    <li>{{.}}</li>
    {{/authors}}
    {{^authors}}
    <li>No authors provided...</li>
    {{/authors}}
  </ul>
      <p class="abstract">
        {{#abstract}}
          {{{abstract}}}
        {{/abstract}}
        {{^abstract}}
          No abstract provided...
        {{/abstract}}
      </p>
    </li>
  {{/results}}
  {{^results}}
    <li>
      <p>No results found...</p>
    </li>
  {{/results}}
</script>
<script id="pagination" type="text/html">
  <ul>
    {{#prevenabled}}
      <li>
    {{/prevenabled}}
    {{^prevenabled}}
      <li class="disabled">
    {{/prevenabled}}
        <a href="#{{hashbase}}&p={{prevpage}}" id="searchPagePrev">&laquo;</a>
      </li>
    {{#pages}}
      {{#active}}
        <li class="active">
      {{/active}}
      {{^active}}
        <li>
      {{/active}}
          <a href="#{{hashbase}}&p={{idx}}" class="">{{idx}}</a>
        </li>
    {{/pages}}
    {{#nextenabled}}
      <li>
    {{/nextenabled}}
    {{^nextenabled}}
      <li class="disabled">
    {{/nextenabled}}
        <a href="#{{hashbase}}&p={{nextpage}}" id="searchPageNext">&raquo;</a>
      </li>
  </ul>
</script>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <form id="searchForm" class="form-search centered span12">
        <div class="input-append span12">
          <input type="text" class="search-query span6" />
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div style="position: fixed; margin: 20px; left: 0px; bottom: 0px; height:500px; width: 300px; overflow:scroll">
    <p>Recommendedation Results</p>
    <ol id="recommendResults"></ol>
  </div>
  <div class="row-fluid">
    <div class="offset3 span6">
      <ol id="searchResults"></ol>
      <div id="searchPagination" class="pagination pagination-centered">
      </div>
    </div>
  </div>
</div>
